html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.heading {
  margin: 0;
  padding-top: 1px;
  background-color: rgb(92, 5, 5);
  height: 15vh;
  color: white;
  text-align: center;
  font-size: 13px;
}
